#navigation {
    width: 100%;
    background: $clr-root;
    position: fixed;
    z-index: 100;
    .container{
        // border-bottom: 1px solid #d3d3d3;
    }
    #mainNav {
        display: flex;

        .brand {
            padding: 15px 15px;
            flex: 1;
            font-weight: $font-bold;
            font-size: 30px;

            span {
                color: $clr-primary;
                font-weight: $font-bold;
            }
        }

        ul {
            li {
                display: inline-block;
                padding: 25px 15px;
                a {
                    display: block;
                    line-height: 110%;
                    font-weight: $font-medium;
                    text-transform: lowercase;
                    letter-spacing: 1px;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
}
