$base-font: 16px;

h1 {
    font-size: $base-font * 5;
    line-height: normal;
    font-weight: $font-thin;
    color: $clr-base;
}

h2 {
    font-size: $base-font * 4;
    line-height: normal;
    font-weight: $font-thin;
    color: $clr-base;
}

h3 {
    font-size: $base-font * 4;
    line-height: normal;
    font-weight: $font-thin;
    color: $clr-base;
}

h4 {
    font-size: $base-font * 3;
    line-height: normal;
    font-weight: $font-thin;
    color: $clr-base;
}

h5 {
    font-size: $base-font * 2;
    line-height: normal;
    font-weight: $font-thin;
    color: $clr-base;
}
