/* Variables.scss */


/* colors */

$clr-root: #ffffff;
$clr-base: #595959;
$clr-black: #000000;
$clr-base-sec: #b5b5b5;
$clr-default: #034ea2;
$clr-primary: #ff0008;

/* Font Weight */

$font-thin:100;
$font-light:300;
$font-normal:400;
$font-medium:500;
 $font-semi-bold:600;
$font-bold:700;
 $font-ex-bold:800;

