#hero {
    position: relative;
    .swiper-container {
        height: 80vh;
        .swiper-slide {
            background: $clr-root;
        }
        .swiper-pagination{
            text-align: left;
            padding-left: 50px;
            padding-bottom: 25px;
        }
    }

    .slide-wrapper {
        width: 1366px;
        margin: 0 10%;
        position: absolute;
        bottom: 15vh;

        &.inverse {
            .title {
            color: $clr-root;
            }
            .sub-title {
                color: $clr-base-sec;
            }
        }

        .title {
            span {
                font-weight: $font-light;
                color: $clr-base;
            }

            &.tag-line {
                font-size: 50px;
                line-height: 110%;
            }

            font-size: 70px;
            line-height: 140px;
            width: 60%;
            font-weight: $font-thin;
        }

        .sub-title {
            .fullstop {
                font-weight: $font-bold;
                color: $clr-primary;
            }

            letter-spacing: 2px;
            font-size: 20px;
            line-height: 110%;
            width: 60%;
            font-weight: $font-light;
        }
    }
}

.img1 {
    background-image: url("../img/1.jpg") !important;
    background-size: cover !important;
    background-position: center center !important;
}

.img2 {
    background-image: url("../img/2.jpg") !important;
    background-size: cover !important;
    background-position: center center !important;
}

.img3 {
    background-image: url("../img/3.jpg") !important;
    background-size: cover !important;
    background-position: center center !important;
}

.img4 {
    background-image: url("../img/4.jpg") !important;
    background-size: cover !important;
    background-position: center center !important;
}
